<div class="container">
    <div class="reglist">
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Capacity</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let room of rooms; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ room.name }}</td>
            <td>{{ room.capacity }}</td>
            <td>
              <button type="button" class="btn btn-info" (click)="onNew(room)">Book</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <div class="regentry" *ngIf="showNew">
      <form (ngSubmit)="onSave()">
        <div class="form-group row">
          <label for="date-input" class="col-2 col-form-label">Pick a date</label>
          <div class="col-3 input-group">
            <input type="text" class="form-control" placeholder="yyyy-mm-dd" name="date" [(ngModel)]="regModel.date" ngbDatepicker #date="ngbDatepicker">
            <button class="input-group-addon" (click)="date.toggle()" type="button">
              <img style="width: 1.2rem; height: 1rem; cursor: pointer;" />
            </button>
          </div>
        </div>
        <button type="submit" class="btn btn-success">{{submitType}}</button>
        <button type="submit" class="btn btn-primary" (click)="onCancel()">Cancel</button>
      </form>
    </div>
  </div>